---
import BonsaibowlCard from "../components/BonsaibowlCard.astro";
import Layout from "../layout/Layout.astro";

const url = "https://bcjykukoxzsusmoltaky.supabase.co/rest/v1/bonsaipots";
const api =
  "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJjanlrdWtveHpzdXNtb2x0YWt5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODUwMTg3ODYsImV4cCI6MjAwMDU5NDc4Nn0.AD5gYYbHDUkLyrwBcKhI3TJgXTSqIj9SSYw9TvhA7kA";

const databowl = await fetch(url, {
  method: "GET",
  headers: {
    apikey: api,
  },
}).then((res) => res.json());
console.log(databowl);
---

<Layout>
  <main>
    <section>
      <img src="/img/bowl_topimg.webp" alt="" />
      <h1>Bonsaiskåle</h1>
      <img class="gren" src="/img/gren.svg" alt="" />
      <p>
        Her på siden finder du et udvalg af smukke bonsai skåle. Vi har et bredt
        sortiment af både indendørs samt udendørs skåle. Skålene findes i mange
        farver og størrelser.
      </p>
    </section>
    <section>
      <h2>Bonsaiskåle uden underskål</h2>
      <h3>Indendørs</h3>
      <div>
        {
          databowl.map((bowlcard) => {
            return <BonsaibowlCard databowl={bowlcard} />;
          })
        }
      </div>
    </section>
    <section>
      <h2>Bonsaiskåle med underskål</h2>
      <h3>udendørs</h3>
      <!-- <div>
        <div class="div1">
          <img src="" alt="" />
          <div class="">
            <h3>Bonsaiskål</h3>
            <h3>Pris 129 DKK</h3>
          </div>
          <h4>Sort plettet bonsaiskål med huller i bunden</h4>
        </div>
      </div> -->
    </section>
    <section>
      <h2>Japanske skåle</h2>
      <!-- <div>
        <BonsaibowlCard />
        <BonsaibowlCard />
      </div> -->
    </section>
  </main>
</Layout>

<style>
  h1 {
    font-size: var(--fs-2);
    font-weight: var(--fw-l);
    padding-top: 25px;
    padding-bottom: 8px;
  }
  h1,
  h2,
  h3 {
    font-family: var(--ff-cta);
    color: var(--green);
    text-align: center;
    font-weight: var(--fw-l);
  }

  h2 {
    display: grid;
    margin-inline: auto;
    padding-top: 40px;
    font-size: var(--fs-3);
    text-align: center;
    width: 250px;
    padding-bottom: 5px;
  }

  h3 {
    display: grid;
    margin-inline: auto;
    font-size: var(--fs-p);
    text-align: center;
    width: 250px;
    padding-bottom: 20px;
  }

  .gren {
    width: 120px;
    display: block;
    margin-inline: auto;
  }

  p {
    font-size: var(--fs-p);
    font-family: var(--ff-text);
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  img {
    width: 100vw;
  }
  div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 3%;
    padding-right: 3%;
  }

  main section:nth-of-type(1) {
    background-color: var(--white);
  }

  section:nth-of-type(2) {
    background-color: var(--bg-grey);
  }

  section:nth-of-type(3) {
    background-color: var(--white);
  }

  section:nth-of-type(4) {
    background-color: var(--bg-grey);
  }
</style>
