---
---

<div>
  <p>Køb for mere end DKK 1000,- og få fri fragt</p>
</div>

<style>
  div {
    background-color: var(--green);
    color: var(--white-text);
    font-size: var(--fs-s);
    font-family: var(--ff-text);
    font-weight: 300;
    text-align: center;
    padding-block: var(--space-xxs);
  }

  @media (min-width: 750px) {
    div {
      font-size: var(--fs-n);
    }
  }
</style>
