---
---

<div>
  <p>Køb for mere end DKK 1000,- og få fri fragt</p>
</div>

<style>
  div {
    position: fixed;
    top: 144px;
    height: 16px;
    width: 100%;
    background-color: var(--green);
    color: var(--white-text);
    font-size: var(--fs-sm);
    font-family: var(--ff-text);
    font-weight: 300;
    text-align: center;
  }

  @media (min-width: 750px) {
    div {
      font-size: var(--fs-n);
    }
  }
</style>
