---
---

<div>
  <p>Køb for mere end DKK 1000,- og få fri fragt</p>
</div>

<style>
  div {
    display: grid;
    position: sticky;
    top: 100px;
    height: 16px;
    width: 100%;
    background-color: var(--green);
    color: var(--white-text);
    font-size: var(--fs-sm);
    font-family: var(--ff-text);
    font-weight: 300;
    place-content: center;
    z-index: 50;
  }
  @media (min-width: 700px) {
    div {
    }
  }
  @media (min-width: 750px) {
    div {
      height: 19px;
      font-size: var(--fs-n);
    }
  }
</style>
