---
---

<section>
  <div class="menu_container">
    <div class="burger">
      <div class="bar"></div>
    </div>
  </div>
  <a href="/"><img class="logo" src="/img/logo.png" alt="" /></a>
  <img class="kurv" src="/img/mobile_header_kurv.svg" alt="" />
</section>
<script src="../scripts/burger.js"></script>

<style>
  section {
    padding-top: 71px;
    padding-bottom: 14px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url(/img/header_index_splash.webp);
    height: 144px;
    width: 100%;
    background-size: cover;
    position: fixed;
    z-index: 50;
  }

  a {
    width: 50px;
  }

  .kurv {
    width: 44px;
    cursor: pointer;
  }

  .burger {
    position: relative;
    z-index: 90;
    display: block;
    cursor: pointer;
  }
  .burger .bar,
  .burger::before,
  .burger::after {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    border-radius: 5px;
    background-color: var(--white-text);
    margin: 0 0 8px 0px;
    transition: 0.8s;
  }

  .burger::after {
    margin: 0;
  }
  .burger.is-active::before {
    transform: rotate(45deg) translate(5px, 15px);
  }
  .burger.is-active::after {
    transform: rotate(-45deg) translate(0px, -10px);
  }
  .burger.is-active .bar {
    opacity: 0;
  }
</style>
