---
import "../styles/style.css";
import Footer from "../components/Footer.astro";
import HeaderMobile from "../components/HeaderMobile.astro";
const { title } = Astro.props;
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg" href="img/favi.svg" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="robots" content="noindex, nofollow" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&family=Red+Hat+Display:wght@300;600&family=Roboto+Flex:wght@300;400&display=swap" rel="stylesheet" />
    <title>{title}</title>
  </head>
  <body>
    <HeaderMobile />
    <slot />
    <Footer />
  </body>
</html>
